<section class="home-banner shop-page-banner" style="background-image: url('https://cdn.shopify.com/s/files/1/0590/1719/9716/files/shop-banner.png?v=1657099873')">
  <div class="page-width">
    <div class="shop-content">
        <h1>ABOUT NITRILEGLOVESMD</h1>
        </div>
    </div>
</section>
<section class="our-purpose">
  <div class="page-width">
    <div class="our-purpose-row">
      <div class="our-purpose-text-col">
        <div class="our-purpose-text-width">
        <h3>Our Purpose</h3>
        <p>NitrileGlovesMD.com was created in response to the increasing global demand of Nitrile and Vinyl Examination Gloves by healthcare, government and businesses across the nation.  With over 30 years in manufacturing and international sourcing, our global team of professionals has secured a consistent and reliable supply of gloves able to serve both large and small quantity clients. </p>
      	</div>
        <div class="our-purpose-img-col">
        </div>
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
