<section class="why-buy-slider-sec">
  <div class="page-width">
    <div class="why-buy-slider-row">
      <div class="why-buy-slider-text-col">
        <div class="why-buy-slider-text-width">
          <h3>Why Buy From NitrileGlovesMD.com?</h3>
        </div>
      </div>
      <div class="why-buy-slider-content">
        <div class="owl-carousel">
          <div class="item">
            <div class="why-slider-img">
              <img src="https://cdn.shopify.com/s/files/1/0590/1719/9716/files/fair-prices-img.png?v=1657186785">
            </div>
            <div class="why-slider-text">
              <h3>Fair Prices</h3>
              <p>While global demand has gone up,
                our desire to provide a high-quality product at a fair price 
                has stayed the same. NitrileGlovesMD.com gloves usually cost 
                10%-35% less than the competition</p>
            </div>
          </div>
          <div class="item">
            <div class="why-slider-img">
              <img src="https://cdn.shopify.com/s/files/1/0590/1719/9716/files/fair-prices-img.png?v=1657186785">
            </div>
            <div class="why-slider-text">
              <h3>IN STOCK 24/7</h3>
              <p>NitrileGlovesMD.com imports millions of boxes each month and can ship immediately.</p>
            </div>
          </div>
          <div class="item">
            <div class="why-slider-img">
              <img src="https://cdn.shopify.com/s/files/1/0590/1719/9716/files/fair-prices-img.png?v=1657186785">
            </div>
            <div class="why-slider-text">
              <h3>TOP QUALITY</h3>
              <p>NitrileGlovesMD.com gloves are all FDA/510 (k) approved and compliant with government and healthcare standards.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




{% schema %}
{
    "name": "Buy Slider",
    "settings" :
    [
    
    
    ]
}
{% endschema %}