<section class="home-banner shop-page-banner" style="background-image: url('https://cdn.shopify.com/s/files/1/0590/1719/9716/files/shop-banner.png?v=1657099873')">
  <div class="page-width">
    <div class="shop-content">
        <h1>ABOUT NITRILEGLOVESMD</h1>
        </div>
    </div>
</section>
<section class="our-purpose">
  <div class="page-width">
    <div class="our-purpose-row">
      <div class="our-purpose-text-col">
        <div class="our-purpose-text-width">
        <h3>Our Purpose</h3>
        <p>NitrileGlovesMD.com was created in response to the increasing global demand of Nitrile and Vinyl Examination Gloves by healthcare, government and businesses across the nation.  With over 30 years in manufacturing and international sourcing, our global team of professionals has secured a consistent and reliable supply of gloves able to serve both large and small quantity clients. </p>
      	</div>
        </div>
        <div class="our-purpose-img-col">
          <img src="https://cdn.shopify.com/s/files/1/0590/1719/9716/files/our-purpose-img.png?v=1657112554">
        </div>
      </div>
  </div>
</section>
<section class="glove-shortage-sec">
  <div class="page-width">
    <div class="glove-shortage-row">
      <div class="glove-shortage-list-col">
        <h3>U.S. Glove Shortages: By The Numbers</h3>
        <ul>
          <li>According to U.S. importer AmerCareRoyal and market analysts, the global demand for gloves nearly doubled in a matter of months from 300 billion pieces in 2019 to 585 billion in August 2020.</li>
          <li>The global demand for nitrile gloves has reached 585 billion this year according to the Health Industry Distributors Association, but manufacturers are only able to produce 370 billion at current levels.</li>
          <li>As of March 2022, the Department of Defense reports a 30-Day Stockpile Requirement for Exam Gloves of 129,484,800 but has only 10,110,000 on hand, leaving a shortfall of 119,374,800. Source: House Report 116-442, Page 156, Accompanying H.R. 6395, of the William M. (Mac) Thornberry National Defense Authorization Act for Fiscal Year 2021, Final Report on “Supply Chain Resilience and Critical Supplies Stockpiles” March 2022.</li>
          <li>The FDA reports ongoing shortages in Vinyl & Nitrile Exam Gloves. Source: Medical Device Shortages During the COVID-19 Public Health Emergency. February 2022.</li>
        </ul>
      </div>
      <div class="glove-shortage-list-col glove-shortage-list-img-col">
        <div class="glove-shortage-img">
          <img src="https://cdn.shopify.com/s/files/1/0590/1719/9716/files/glove-shortage.gif?v=1657113743">
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
