<section class="our-purpose">
<div class="page-width">
    <div class="our-purpose-row">
    <div class="our-purpose-text-col">
        <div class="our-purpose-text-width">
        <h3> {{ section.settings.title }} </h3>
        <p> {{ section.settings.info }} </p>
        </div>
        </div>
        <div class="our-purpose-img-col">
        <img alt="{{ section.settings.image.alt }}" loading="lazy" src="{{ section.settings.image | img_url: 'master' }}">
        </div>
    </div>
</div>
</section>

{% schema %}
{
    "name": "Purpose",
    "settings" :
    [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "textarea",
            "id": "info",
            "label": "Description"
        }
    
    ]
}
{% endschema %}