<section class="home-banner shop-page-banner" style="background-image: url('{{ section.settings.background_image | img_url : 'master' }}')">
  <div class="page-width">
    <div class="shop-content">
        <h1>{{ collection.title }}</h1>
        </div>
    </div>
</section>

{%- if section.settings.show_collection_description -%}
<section class="shop-description">
  <div class="page-width">
      <div class="collection-hero__description rte">{{ collection.description }}</div>
  </div>
</section>
{%- endif -%}

{% schema %}
{
    "name": "Banner",
    "settings":
    [
       {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image"
       },    
      {
        "type": "checkbox",
        "id": "show_collection_description",
        "label": "Show Collection Description",
        "default": false
      }
    ]
}
{% endschema %}