<section class="home-banner shop-page-banner" style="background-image: url('https://cdn.shopify.com/s/files/1/0590/1719/9716/files/shop-banner.png?v=1657099873');">
  <div class="page-width">
    <div class="shop-content">
        <h1>Products</h1>
        </div>
    </div>
  </div>
</section>

{% schema %}
{
    "name": "banner",
    "settings": [
        
    ]
}
{% endschema %}