<section class="newsletter-sec">
  <div class="page-width">
    <div class="newsletter-email-row">
      <h2>Sign Up For Our Newsletter For Industry Insights & Special Discounts</h2>
      <div class="newsletter-box">
        <input type="email" placeholder="Enter your Email">
        <input type="submit" value="SUBSCRIBE" class="custom-site-btn">
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Newsletter Section",
    "settings": [],
	"presets":
	[
		{
			"name" : "Newsletter Section",
			"category" : "Custom Sections"
		} 
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
