<section class="newsletter-sec">
  <div class="page-width">
    <div class="newsletter-email-row">
      <h2>Sign Up For Our Newsletter For Industry Insights & Special Discounts</h2>
      <div class="newsletter-box">
        <input type="email" placeholder="Enter your Email">
        <input type="submit" value="SUBSCRIBE">
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
