<footer>
  <div class="page-width">
    <div class="footer-logo">
      <a href="#"><img src="https://cdn.shopify.com/s/files/1/0590/1719/9716/files/footer-logo_e4d211b5-c77d-41dc-8cf7-530a53499f34.png?v=1657105570"></a>
    </div>
    <div class="footer-nav">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
    <div class="newsletter-contact-info-flex">
      <div class="newsletter-col">
        <h6>newsletter</h6>
        <p>Subscribe to our sales newsletter to stay up to date with our latest products & services.</p>
        <div class="newsletter-container">
          <div class="input-container">
            <input type="email"	placeholder="Email Address">
          </div>
          <div class="input-submit">
            <input type="submit" value="Susbcribe">
          </div>
        </div>
        <div class="footer-social-links">
          <ul>
            <li><a href="#">{% include 'icon-instagram' %}</a></li>
            <li><a href="#">{% include 'linkedin' %}</a></li>
            <li><a href="#">{% include 'icon-pinterest' %}</a></li>
          </ul>
        </div>
      </div>
      <div class="contact-info-col">
        <h6>Contact Info</h6>
        <ul>
          <li>
            <h6>Phone</h6>
            <a href="#">(850) 699-1600</a>
          </li>
          <li>
            <h6>Email Address</h6>
            <a href="#">Joe@winkelerandassociates.com</a>
          </li>
          <li>
            <h6>Office</h6>
            <a href="#">981 US 98 East, Suite 3-164 Destin, Florida 32541</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="copywrite-div">
      <p>Copyright © 2022 NitrileGlovesMD.com | All Rights Reserved</p>
    </div>
  </div>
</footer>



{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
