@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap');

header.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 15px;
}

h1.header__heading {
    width: 30%;
}

nav.header__inline-menu {
    width: 60%;
    display: flex;
    justify-content: center;
}

.header__icons {
    width: 30%;
    justify-content: flex-end;
}
.page-width {
    padding: 0px 15px;
}


img {
    max-width: 100%;
    height: auto;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Lora', serif;
}

.home-banner-row {
    display: flex;
    justify-content: space-between;
}

.home-text-col {
    width: 40%;
}

.home-img-col {
    width: 60%;
}

img {
    max-width: 100%;
    height: auto;
    display:block;
}
.home-text-content {
    max-width: 485px;
}

* {
    color: rgb(0 0 0 / 50%);
    box-sizing: border-box;
    font-weight: 400;
}

.custom-site-btn {
    background: #000000;
    box-shadow: 8px 8px 57px rgba(0, 0, 0, 0.24);
    border-radius: 0px 0px 20px 0px;
    padding: 14px 30px;
    gap: 10px;
    color: #FFFFFF;
    font-weight: 500;
}

a {
    font-family: Lora,serif;
    display: inline-block;
    text-decoration: none;
}

.home-banner {
    padding: 80px 0px;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
}

.home-banner:before {
    content: "";
    position: absolute;
    width: 75%;
    height: 420px;
    top: -70px;
    left: 20px;
    background-color: #f1f1f1;
    z-index: -1;
    border-radius: 0px 0px 270.365px 0px;
    opacity: 0.8;
}

.header-wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
    top:0px;
    padding-top: 30px;
    z-index: 1;
    background-color: transparent;
}
body.template-index {
    margin-top: 88px;
}
.home-text-content p {
    margin-bottom: 35px;
}

p {
    margin-top: 0px;
}
nav.header__inline-menu ul li a span {
    color: rgb(0 0 0 / 40%);
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Lora';
}

span {
    display: inline-block;
    font-family: Lora,serif;
}

nav.header__inline-menu ul li a {
    margin-right: 20px;
}

nav.header__inline-menu ul li:last-child a {
    margin-right: 0px;
}

nav.header__inline-menu ul li a span.header__active-menu-item {
    color: #000;
}
nav.header__inline-menu ul li a:hover span {
    text-decoration: none;
}
.our-logos {
    background-color: #1A2B56;
    padding: 30px 0px;
}

.our-logos .item img {
    object-fit: contain;
    width: 75%;
    margin: auto;
}

.home-product-row {
    display: flex;
    justify-content: space-between;
}

.home-products-container {
    padding: 60px 0px 60px; 
}

.home-product-img-col {
    width: 50%;
}

.home-product-text-col {
    width: 50%;
}

.home-product-content h3 {
    color: #000000;
    line-height: 1.6;
}

h2, .h2 {
    font-size: 40px;
}

h3, .h3 {
    font-size: 30px;
}

h4, .h4 {
    font-size: 24px;
}
.home-product-content {
    padding-left: 30px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

.home-product-content h4 {
    color: #D60912;
    font-family: 'Lato';
    font-weight: 600;
}

.home-product-content ul {padding-left: 0px;list-style-type: none;margin-bottom: 30px;}

.home-product-content ul li {margin-bottom: 4px;position: relative;padding-left: 30px;}

.home-product-content ul li::before {
    content: '';
    position: absolute;
    left: 0px;
    width: 8px;
    height: 8px;
    background-color: #C0C0C0;
    border-radius: 50%;
    /* margin: auto; */
    top: 11px;
    bottom: 0px;
}

.custom-site-btn {
    padding: 10px 30px;
}

* {
    color: rgb(0 0 0 / 50%);
}

.home-products-container:nth-child(even) .home-product-row {
    flex-direction: row-reverse;
}

.home-products-container:nth-child(even) .home-product-row .home-product-content {
    padding-left: 0px;
}

.home-products-container:nth-child(even) {
    padding: 60px 0 60px;
    background-color: #F4F4F4;
}
.testimonials-sec {
    background-color: #F4F4F4;
    padding: 80px 0px;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.testimonials-sec h2 {
    margin-bottom: 40px;
}

.rating ul {
    display: flex;
}

.testimonial-col {
    background-color: #FEFCFC;
    padding: 15px;
    border-radius: 20px;
}

.rating ul li img {
    width: 18px !important;
}

.rating ul {
    margin-bottom: 15px;
}

.testimonial-content p {
    color: rgb(0 0 0 / 70%);
    font-style: italic;
    text-align: left;
    min-height: 200px;
}
.testi-img-autor img {
    width: 65px !important;
}

.testi--img-autor {
    display: flex;
}
.testi-img-autor {
    display: flex;
    align-items:center;
}

h5, .h5 {
    font-size: 22px;
}

.testi-author-text h5 {
    margin: 0px;
    text-align: left;
    color: #D60912;
    font-style: italic;
}


.testi-author-text {
    padding-left: 10px;
    font-size: 12px;
}
.testi-author-text span {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 500;
}
.home-product-content .price {
    margin: 0 10px;
}

.home-product-content h4 {
    display: flex;
    align-items: center
}



.price__regular .price-item--regular {
    color: #d60912;
    font-family: Lato;
    font-weight: 600;
    font-size: 24px;
}


.product-btn__wrapper {
    display: flex;
    align-items: center;
}

.product-btn__wrapper .quick-add {
    margin-bottom: 0;
}

.product-btn__wrapper .quick-add__submit {
    padding: 14px 30px;
  margin-left : 10px;
    box-shadow: 8px 8px 57px #0000003d;
    border-radius: 0 0 20px;
    padding: 12px 30px !important;
    gap: 10px;
    color: #fff;
    font-weight: 500;
   cursor : pointer;
}



.product-btn__wrapper .quick-add__submit span {
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
}

.home-banner.shop-page-banner {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    padding: 80px 0;
}

.home-banner.shop-page-banner::before {
    content: none;
}
.home-banner.shop-page-banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-banner.shop-page-banner h1 {
    margin: 0px;
}

.home-banner.shop-page-banner h1 {
    margin-top: 80px;
}
footer {
    background-color: #1A2B56;
    padding-top: 50px;
}
.footer-logo {
    text-align: center;
    margin-bottom: 40px;
}

.footer-nav {
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    padding: 10px 0px;
}

.footer-nav ul {
    display: flex;
    justify-content: space-around;
}

.footer-nav ul li a {
    color: #FFFFFF;
    text-transform: capitalize;
    letter-spacing: 0.06em;
}

.newsletter-contact-info-flex {
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
}

.newsletter-col h6 {
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 10px;
}

h6 {
    font-size: 16px;
}

.newsletter-col {
    width: 40%;
}

.contact-info-col {
    width: 40%;
}

.newsletter-col p {
    color: #FFFFFF;
    max-width: 400px;
}
.newsletter-container {
    display: flex;
    max-width: 400px;
    border: 1px solid #FFFFFF;
    position: relative;
    margin-bottom: 20px;
}

.input-container {
    width: 70%;
}

.input-submit {
    width: 30%;
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    border-left: 1px solid #FFFFFF;
}

.input-container input {
    width: 100%;
    border: 0px;
    background-color: transparent;
    padding: 14px 12px;
    color: #A1A1A1;
}

.input-container input::placeholder {
    color: #A1A1A1;
}

.input-submit input[type="submit"] {
    background-color: #D60912;
    border: 0px;
    font-family: Lora,serif;
    font-weight: 500;
}

.input-submit input {
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
}
.shop-description .collection-hero__description.rte {
    color: #000;
    font-family: 'Lato';
    margin: 30px 0;
}
.footer-social-links ul li a {
    border: 1px solid #FFFFFF;
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 50%;
    transition: 0.2s all ease;
}

.footer-social-links ul {
    display: flex;
}

.footer-social-links ul li a svg {
    width: 14px;
    height: 15px;
}

.footer-social-links ul li a svg path {
    color: #FFFFFF;
}

.footer-social-links ul li a:hover {
    background-color: #D60912;
    border-color: transparent;
}
.contact-info-col h6 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-bottom: 30px;
}

.contact-info-col ul li h6 {
    margin-bottom: 10px;
}

.contact-info-col ul {
    display: flex;
    flex-wrap: wrap;
}

.contact-info-col ul li {
    width: 50%;
    margin-bottom: 30px;
}

.contact-info-col ul li a {
    color: rgb(255 255 255 / 70%);
    font-weight: 300;
    font-family: var(--font-body-family);
}

.contact-info-col ul li:last-child {
    width: 100%;
}

.copywrite-div p {
    margin: 0;
    color: rgb(255 255 255 / 70%);
    font-size: 14px;
}

.copywrite-div {
    border-top: 1px solid #1D1D1D;
    padding: 10px 0px;
}

*:focus-visible {
    outline: none;
    box-shadow: none;
}
.newsletter-email-row {
    display: flex;
    background-color: #121212;
    border-radius: 40px;
    padding: 60px 60px 60px 40px;
    justify-content: space-between;
}

.newsletter-sec {
    padding: 80px 0px;
    /* border-radius: 40px; */
}

.newsletter-email-row h2 {
    width: 55%;
    color: #FFFFFF;
    font-weight: 400;
    margin: 0px;
}

.newsletter-box {
    width: 40%;
    margin-top: 15px;
}

.newsletter-box input[type="email"] {
    background-color: #F4F4F4;
    color: #A49292;
    font-weight: 500;
    padding: 15px 10px;
    width: 100%;
    border: 0px;
}

.newsletter-box input[type="email"]::placeholder {
    color: #A49292;
}
.newsletter-box .custom-site-btn {
    cursor: pointer;
    background-color: #D60912;
    padding: 14px 30px;
    display: block;
    margin-left: auto;
    border: 0px;
    margin-top: 22px;
}
.testimonials-sec .owl-nav {
    position: absolute;
    top: -94px;
    right: 0px;
}

.testimonials-sec .owl-nav button.owl-prev {
    transform: rotate(180deg);
    margin-right: 15px;
}

.testimonials-sec .owl-nav button img {
    filter: grayscale(100%) invert(1);
}

.testimonials-sec .owl-nav button:hover img {
    filter: brightness(100%) invert(0);
}
.header__heading-link {
    width: 30%;
}
footer .form__message {
    color: white;
}
.our-purpose-row {
    display: flex;
    justify-content: space-between;
}

.our-purpose-text-col {
    width: 40%;
}

.our-purpose {
    position: relative;
    padding: 60px 0px;
    margin-top: 60px;
}

.our-purpose::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 70%;
    background-color: #1A2B56;
    z-index: -1;
    height: 380px;
    border-radius: 0px 0px 225px 0px;
}

.our-purpose-text-width h3 {
    color: #FFFFFF;
}

.our-purpose-text-width p {
    color: #fff;
}

.our-purpose-img-col {
    position: relative;
    top: 41px;
    width: 50%;
}
.newsletter-box .form__message {
    color: #fff;
}
.glove-shortage-row {
    display: flex;
}

.glove-shortage-list-col {
    width: 45%;
    padding-right: 30px;
}

.glove-shortage-list-col.glove-shortage-list-img-col {
    width: 55%;
    padding: 0px 0px;
}

.glove-shortage-list-col h3 {
    max-width: 415px;
}

.glove-shortage-img img {
    margin: auto;
}

.glove-shortage-list-col ul li {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 10px;
}
.glove-shortage-img img {
    width: 100%;
    margin-bottom: 20px;
}

.glove-shortage-list-col.glove-shortage-list-img-col {
    padding: 0px 20px;
}

.cart-count-bubble span {
    color: white;
}
.why-buy-slider-row {
    display: flex;
}

.why-buy-slider-text-col {
    width: 30%;
}

.why-buy-slider-content {
    width: 70%;
}

.why-buy-slider-sec {
    padding: 80px 0px 0px;
    position:relative;
  
}

.why-buy-slider-text-width h3::before {
    content: '';
    position: absolute;
    background-color: rgb(0 0 0 / 30%);
    height: 1px;
    bottom: 0px;
    width: 60%;
}

.why-buy-slider-text-width h3 {
    position: relative;
    padding-bottom: 40px;
}

.why-slider-text {
    background-color: #F4F0F0;
    padding: 30px 15px;
}

.why-slider-text h3 {
    margin-bottom: 10px;
}

.why-slider-text p {
    color: rgb(0 0 0 / 60%);
}
.why-buy-slider-content .owl-nav {
    position: absolute;
    left: 0px;
    max-width: var(--page-width);
    margin: 0 auto;
    padding: 0 15px;
    right: 0px;
    height: 0px;
    top: 250px;
}

.why-buy-slider-content .owl-carousel {
    position: inherit;
}

.why-buy-slider-content .owl-nav button.owl-prev {
    transform: rotate(180deg);
    margin-right: 15px;
}

.why-buy-slider-content .owl-nav button img {
    filter: grayscale(100%) invert(1);
}

.why-buy-slider-text-width h3 {
    padding-bottom: 45px;
}

.why-buy-slider-content .owl-nav button:hover img {
    filter: brightness(100%) invert(0);
}
.why-slider-text p {
    margin-bottom: 0px;
    min-height: 165px;
}
/* .why-buy-slider-sec .page-width {
    margin-right: 0px;
    padding-right: 0px;
    max-width: 93vw;
} */
.cus-contact-sec {
    padding: 80px 0px;
}

.cus-contact-row {
    display: flex;
    justify-content: space-between;
}

.cus-contact-img-col {
    padding: 0px 0px 0px 100px;
    width: 65%;
}

.cus-contact-text-col {
    width: 35%;
}

.discover-contact-list ul li h4 {
    margin-bottom: 0;
}

.discover-contact-list {
    max-width: 330px;
}

.discover-contact-list ul li span,.discover-contact-list ul li a {
    text-decoration: underline;
    color: #333333;
}

.discover-contact-list ul li {
    margin-bottom: 30px;
}

.discover-contact-list ul li:last-child {
    margin-bottom: 0px;
}
.cus-contact-sec {
    padding: 80px 0px;
}

.cus-contact-row {
    display: flex;
    justify-content: space-between;
}

.cus-contact-img-col {
    padding: 0px 0px 0px 100px;
    width: 65%;
}

.cus-contact-text-col {
    width: 35%;
}

.discover-contact-list ul li h4 {
    margin-bottom: 0;
}

.discover-contact-list {
    max-width: 330px;
}

.discover-contact-list ul li span,.discover-contact-list ul li a {
    text-decoration: underline;
    color: #333333;
}

.discover-contact-list ul li {
    margin-bottom: 30px;
}

.discover-contact-list ul li:last-child {
    margin-bottom: 0px;
}

.home-banner.shop-page-banner h1 {
    text-transform: uppercase;
}
.cus-contact-sec {
    padding: 80px 0px;
}

.cus-contact-row {
    display: flex;
    justify-content: space-between;
}

.cus-contact-img-col {
    padding: 0px 0px 0px 100px;
    width: 65%;
}

.cus-contact-text-col {
    width: 35%;
}

.discover-contact-list ul li h4 {
    margin-bottom: 0;
}

.discover-contact-list {
    max-width: 330px;
}

.discover-contact-list ul li span,.discover-contact-list ul li a {
    text-decoration: underline;
    color: #333333;
}

.discover-contact-list ul li {
    margin-bottom: 30px;
}

.discover-contact-list ul li:last-child {
    margin-bottom: 0px;
}

.home-banner.shop-page-banner h1 {
    text-transform: uppercase;
}
.get-in-touch {
    background-color: #1A2B56;
    padding: 60px 0px;
}

.get-in-touch h2 {
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;
}

.get-in-touch-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cus-input-container {
    width: 30%;
    margin-bottom: 30px;
}

.cus-input-container textarea,.cus-input-container input {
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid #F2F2F2;
    outline: 0px;
    resize: none;
    padding: 10px 0px 12px;
    min-height: 5px;
    width: 100%;
    color: #fff;
}

.cus-input-container:nth-child(5) {
    width: 65%;
}
.checkbox-container-col {
    margin-top: 30px;
}

.cus-input-container input::placeholder {
    color: #F2F2F2;
}

.get-in-touch-form {
    max-width: 1000px;
    margin: 0px auto;
}

.cus-input-container textarea::placeholder {
    color: #F2F2F2;
}
.cus-input-container textarea, .cus-input-container input {
    height: 36px;
    min-height: auto;
    padding: 5px 0px;
    font-family: 'Lato';
}

.input-container-submit input {
    background-color: #D60912;
    border: 0px;
    cursor:pointer;
}
.input-container-submit {
    width: 100%;
    text-align: right;
}
section.custom-map iframe {
    width: 100%;
    display: block;
}
body.gradient.template-product {
    margin-top: 88px;
}

section#MainProduct-template--14990704902244__main {
    padding: 80px 0px;
}
.product-form__input.product-form__quantity label {
    color: #000000;
    font-weight: 600;
    margin-right: 20px;
    font-size: 18px;
    margin-bottom:0px;
}

.product-form__input.product-form__quantity {
    display: flex;
    align-items: center;
}

input#Quantity-template--14990704902244__main {}

quantity-input.quantity input {
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 600;
    color: #000000;
}

quantity-input.quantity {
    border: 1px solid #B1B1B1;
}

quantity-input.quantity button {
    background-color: #D60912 !important;
    /* border: 1px solid #910000; */
    /* border: 0px !important; */
    opacity: 1;
    box-shadow: none !important;
    margin: 0px;
}

quantity-input.quantity button svg path {
    fill: #fff;
    opacity: 1;
}
.product-form__input.product-form__quantity label {
    color: #000000;
    font-weight: 600;
    margin-right: 20px;
    font-size: 18px;
}

.product-form__input.product-form__quantity {
    display: flex;
    align-items: center;
}

input#Quantity-template--14990704902244__main {}

quantity-input.quantity input {
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 600;
    color: #000000;
}

quantity-input.quantity {
    border: 1px solid #B1B1B1;
}

quantity-input.quantity button {
    background-color: #D60912 !important;
    /* border: 1px solid #910000; */
    /* border: 0px !important; */
    opacity: 1;
    box-shadow: none !important;
    margin: 0px;
}

quantity-input.quantity button svg path {
    fill: #fff;
    opacity: 1;
}

.product__info-wrapper.grid__item .product__title h1 {
    font-size: 30px;
}
.product-form__input.product-form__quantity label {
    color: #000000;
    font-weight: 600;
    margin-right: 20px;
    font-size: 18px;
}

.product-form__input.product-form__quantity {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

input#Quantity-template--14990704902244__main {}

quantity-input.quantity input {
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 600;
    color: #000000;
}

quantity-input.quantity {
    border: 1px solid #B1B1B1;
}

quantity-input.quantity button {
    background-color: #D60912 !important;
    /* border: 1px solid #910000; */
    /* border: 0px !important; */
    opacity: 1;
    box-shadow: none !important;
    margin: 0px;
}

quantity-input.quantity button svg path {
    fill: #fff;
    opacity: 1;
}

.product__info-wrapper.grid__item .product__title h1 {
    font-size: 30px;
}

.product-form__buttons {
    display: flex;
    max-width: 100%;
}

.product-form__buttons button.product-form__submit {
    background: #000000;
    box-shadow: 8px 8px 57px #0000003d;
    border-radius: 0 0 20px;
    padding: 14px 20px;
    gap: 10px;
    color: #fff;
    font-weight: 500;
    color: #FFFFFF;
    width: 168px;
    margin-right: 25px;
    font-size: 14px;
    height: 48px;
}

.product-form__buttons button span {
    color: #fff;
    text-transform: uppercase;
}

.shopify-payment-button {
    /* background: #000000; */
    /* box-shadow: 8px 8px 57px #0000003d; */
    /* border-radius: 0 0 20px; */
    /* padding: 14px 9px; */
    /* gap: 10px; */
    /* color: #fff; */
    /* font-weight: 500; */
    /* color: #FFFFFF; */
    /* width: 45%; */
    /* width: 168px; */
    /* margin-right: 25px; */
    /* font-size: 14px; */
    /* height: 48px; */
}

.product-form__buttons button.product-form__submit::before {
    display: none;
}

.product-form__buttons button.product-form__submit::after {
    display: none;
}

.shopify-payment-button__button {
    background: #000000;
    box-shadow: 8px 8px 57px #0000003d;
    border-radius: 0 0 20px !important;
    padding: 14px 20px;
    gap: 10px;
    color: #fff;
    font-weight: 500;
    color: #FFFFFF;
    width: 168px;
    margin-right: 25px;
    font-size: 14px;
    height: 48px;
}

.shopify-payment-button__button::before {
    display: none;
}

.shopify-payment-button__button::after {
    display: none;
}
.shopify-payment-button__button {
    text-transform: uppercase;
}
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
section.description-reviews-sec {
    background-color: #1A2B56;
    margin: 50px 0px;
}

button.tablinks {
    background-color: #EAEAEA;
}

.tab {
    background-color: #fff;
    border: 0px;
}

.tab button.active {
    background-color: #1A2B56;
    color: #FFFFFF;
}

.tabcontent {
    border: 0px;
}

button.tablinks {
    padding: 15px 30px;
}

.product--thumbnail_slider {
    margin: auto !important;
}
.description-content {
    padding: 50px 0px;
}
.description-content ul li {
    color: #FFFFFF;
    margin-bottom: 15px;
}

.description-content ul {
    list-style-type: disc;
}
section#MainProduct-template--14990704902244__main {
    padding: 80px 0px 0px;
}

h2.product-recommendations__heading.h2 {
    text-align: center;
}
.social-icons ul {
    /* display: flex; */
}

.social-icons {
    /* transform: rotate(90deg); */
    position: absolute;
    right: 30px;
    top: 0px;
    bottom: 117px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons ul li a {
    writing-mode: vertical-rl;
    margin-bottom: 20px;
}

.social-icons ul li:last-child a {
    margin-bottom: 0px;
}
.home-products-container:nth-child(even) {
    background-color: #1C1C53;
}

.home-products-container:nth-child(even) .home-product-content h3 {
    color: #fff;
}

.home-products-container:nth-child(even) .home-product-row .home-product-content ul li {
    color: #fff;
}

.home-products-container:nth-child(even) .home-product-row .home-product-content h4 {
    color: #fff;
}

.home-products-container:nth-child(even) .home-product-row .home-product-content h4 span {
    color: #fff;
}

.home-products-container:nth-child(even) .home-product-row .home-product-content .home-product-btn a {
    background-color: #fff;
    color: #000;
}
.product__info-wrapper.grid__item h4 {
    display: flex;
    color: #D60912;
    font-family: 'Lato';
    font-weight: 600;
    /* align-items: center; */
}

.product__info-wrapper.grid__item h4 span.price-item.price-item--regular {
    font-family: 'Lato';
    margin: 0;
    line-height: 31.2px;
    margin: 0px 4px;
}
.recommendation-price__shop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.recommendation-shop a {
    background: #000000;
    box-shadow: 8px 8px 57px #0000003d;
    border-radius: 0 0 20px;
    padding: 11px 20px;
    gap: 10px;
    font-weight: 500;
    color: #fff;
    width: 130px;
    font-size: 14px;
    height: 40px;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
}

span.price-item.price-item--sale.price-item--last {}

.recommendation-price span.price-item.price-item--sale.price-item--last {
    color: #121212;
}

span.price-item.price-item--regular {}

.recommendation-price span.price-item.price-item--regular {
    color: #121212;
    font-size: 18px;
    letter-spacing: 0px;
}

.card__information h3 {
    font-size: 14px;
}

.recommendation-price__shop {
    margin-top: 0px !important;
}

.card__information h3 a {
    color: rgb(0 0 0 / 70%);
}

.recommendation-price__shop {}

.card-information>* {
}

span.caption-large.light {
}
.shopify-payment-button__button {
    font-size: 14px !important;
    font-family: 'Lora' !important;
}
quantity-input.quantity button {
    position: absolute;
    right: 0px;
    height: 25px;
    top: -1px;
    width: 40px;
    right: 0px;
    border-bottom: 1px solid #900000;
}

quantity-input.quantity {
    height: 50px;
    position: relative;
}

quantity-input.quantity button[name="minus"] {
    bottom: 0px;
    top: auto;
    transform: rotate(180deg);
    /* left: 0px; */
    /* right: auto; */
    right: -1px;
}

.quantity:after {
    opacity: 0;
}

quantity-input.quantity input {
    text-align: center;
    width: 100px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.glove-shortage-list-col.glove-shortage-list-img-col {
    margin-top: 115px;
}

.glove-shortage-img img {
    height: 400px;
    object-fit: cover;
}
@media screen and (min-width:1800px){
  .home-banner:before {
    width: 62%;
}
.home-banner.shop-page-banner{
  width:90%;
}
}
@media screen and (max-width:1199px){
  .home-banner.shop-page-banner {
    height: 290px;
}

.our-purpose-img-col {
    top: 0px;
}

.contact-info-col ul li {
    width: 100%;
}

.contact-info-col ul li:last-child {
    margin-bottom: 0px;
}
.our-purpose:before {
    height: 400px;
}  
}
@media screen and (max-width:991px){
  nav.header__inline-menu {
    display: none;
}

.header__icons {
    width: auto;
}

.header__heading-link {
    width: auto;
}
.contact-info-col ul li a {
}

.contact-info-col ul {
    flex-wrap: wrap;
}

.contact-info-col ul li {
    width: 100%;
}

.contact-info-col ul li:last-child {
    margin-bottom: 0px;
}

.home-banner {
    padding: 60px 0px;
}

h1 {
    font-size: 30px;
}

.home-text-content h1 {
    margin-bottom: 10px;
}

p {
    font-size: 15px;
}

.home-text-content p {
    margin-bottom: 25px;
}

.custom-site-btn {
    font-size: 14px;
}

.header-wrapper {
    padding-top: 0px;
}

.social-icons {
    bottom: 60px;
}

.our-logos .item img {
    width: 90%;
}

h3, .h3 {
    font-size: 24px;
}

.price__regular .price-item--regular {
    font-size: 20px;
}

h4, .h4 {
}

.home-product-content h4 {
    font-size: 20px;
}

.home-product-content ul li {
    font-size: 15px;
    padding-left: 20px;
}

h2, .h2 {
    font-size: 32px;
}
.our-purpose:before {
    height: 450px;
}

.why-buy-slider-text-width h3 {
    padding-bottom: 30px;
    font-size: 19px;
}

.why-buy-slider-content .owl-nav {
    top: 200px;
}
.product__info-wrapper.grid__item .product__title h1 {
    font-size: 24px;
}

.product__info-wrapper.grid__item h4 {
    font-size: 1.8rem;
}

.product__info-wrapper.grid__item h4 span.price-item.price-item--regular {
    letter-spacing: 0px;
    line-height: initial;
    /* font-size: 1.8rem; */
}
.shopify-payment-button__button {
    margin: 0px;
    font-size: 13px !important;
    font-family: Lora !important;
}

.product-form__buttons button.product-form__submit {
    margin-right: 10px;
    font-size: 13px;
}
body.gradient.template-product {
    margin-top: 0px;
}
  
}
@media screen and (max-width:767px){
  header.header {
    /* display: block; */
}

nav.header__inline-menu {
    display: none;
}

.header-wrapper {
    position: relative;
    padding: 0px;
}

.menu-drawer-container {
    /* display: block; */
}

.header__heading-link {
    width: 100%;
}

nav.header__inline-menu {
    width: 100%;
}

.header__icons {
    width: 45%;
}

body.template-index {
    margin-top: 0px;
}

.home-banner {
    padding: 40px 0px;
}

.home-banner-row {
    flex-wrap: wrap;
}

.home-text-col {
    width: 100%;
    margin-bottom: 30px;
}

.home-img-col {
    width: 100%;
}

.social-icons {
    display: none;
}

.our-logos .item img {
    width: 100%;
}

.home-products-container {
    padding: 40px 0px;
}

.home-product-row {
    flex-direction: column;
}

.home-product-img-col, .home-product-text-col {
    width: 100%;
}

h3, .h3 {
    font-size: 22px;
}

.home-product-content {
    padding-left: 0px;
}

h4, .h4 {
    font-size: 18px;
}

.home-product-content h4 span {}

.home-product-content h4 span {
    font-size: 18px;
}

.price__regular .price-item--regular {
    font-size: 18px;
}

.home-products-container:nth-child(even) .home-product-row {flex-wrap: wrap;/* flex-direction: column-reverse; */}

.testimonials-sec .owl-nav {
    position: relative;
    top: auto;
    display: flex;
    justify-content: center;
    margin-top: 46px;
}

.testimonials-sec {
    padding: 60px 0px;
}

.newsletter-email-row {
    flex-direction: column;
    padding: 40px 30px;
}

.newsletter-email-row h2 {
    font-size: 18px;
    width: 100%;
}

h2, .h2 {}

.newsletter-box {
    width: 100%;
}

.newsletter-sec {
    padding: 60px 0px;
}

.newsletter-col, .contact-info-col {
    width: 100%;
}

.newsletter-contact-info-flex {
    flex-wrap: wrap;
}

.newsletter-col {
    margin-bottom: 30px;
}
.home-banner.shop-page-banner h1 {
    text-align: center;
    margin-top: 0px;
}

.our-purpose-row {
    flex-direction: column;
}

.our-purpose-text-col {
    width: 100%;
}

.our-purpose-img-col {
    width: 100%;
}

.our-purpose:before {
    width: 100%;
    height: 530px;
}

.glove-shortage-row {
    flex-direction: column;
}

.glove-shortage-list-col {
    width: 100%;
    padding-right: 0px;
}

.glove-shortage-list-col.glove-shortage-list-img-col {
    width: 100%;
    padding: 0px;
    margin-top: 20px;
}

.why-buy-slider-sec {
    padding: 60px 0px 0px;
}

.why-buy-slider-row {
    flex-direction: column;
}

.why-buy-slider-text-col {
    width: 100%;
}

.why-buy-slider-content {
    width: 100%;
}

.why-buy-slider-content .owl-nav {
    top: auto;
    right: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    position: relative;
}
section.description-reviews-sec {
    margin: 20px 0px;
}

section.description-reviews-sec .tab .page-width {
    padding: 0px;
}

.recommendation-price__shop {flex-direction: column;}

.recommendation-price span.price-item.price-item--regular {
    font-size: 16px;
    margin-bottom: 5px;
}
.cus-contact-sec {
    padding: 60px 0px;
}

.cus-contact-row {
    flex-direction: column;
}

.cus-contact-row {}

.cus-contact-text-col {
    width: 100%;
    margin-bottom: 30px;
}

.cus-contact-img-col {
    width: 100%;
    padding-left: 0px;
}

.cus-input-container {
    width: 48%;
}

.cus-input-container:nth-child(5) {
    width: 100%;
}  
}