<section class="home-banner shop-page-banner" style="background-image: url('{{ section.settings.background_image | img_url : 'master' }}')">
  <div class="page-width">
    <div class="shop-content">
        <h1>ABOUT NITRILEGLOVESMD</h1>
        </div>
    </div>
</section>